body {
  padding: 0;
  margin: 0;
}
.code {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  margin-top: 100px;
  margin-bottom: 100px;
}
.grid1 {
  height: 500px;
  background-image: url("./immgs.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.grid {
  height: 400px;
  padding: 10px;
}
.chiva {
  text-transform: uppercase;
  font-family: sans-serif;
  position: absolute;
  top: 6%;
  left: 51%;
  font-size: 15px;
}
.text1 {
  color: grey;
  font-size: 20px;
}
@media (max-width: 800px) {
  .text1 {
    font-size: 13px;
    color: grey;
  }
  .grid {
    height: 500px;
    padding: 10px;
  }
  .chiva {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 15px;
    position: absolute;
    top: 0%;
    left: 8%;
  }

  .grid1 {
    height: 400px;
    background-image: url("./immgs.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 10%;
  }

  .code {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    margin: 0;
  }
}
